@import url(/css/fontiran.css);
@import url(/css/style.css);

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/eot/IRANSansWeb_Black.eot');
  src: url('../fonts/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/woff2/IRANSansWeb_Black.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/woff/IRANSansWeb_Black.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/IRANSansWeb_Black.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/eot/IRANSansWeb_Bold.eot');
  src: url('../fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/woff/IRANSansWeb_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/eot/IRANSansWeb_Medium.eot');
  src: url('../fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/woff/IRANSansWeb_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/eot/IRANSansWeb_Light.eot');
  src: url('../fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/woff/IRANSansWeb_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/eot/IRANSansWeb_UltraLight.eot');
  src: url('../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/eot/IRANSansWeb.eot');
  src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');
}

@media only screen and (max-width: 575px) {
  #navigation-bar{
    height: 50px!important;
  }
  #collapsibleNavbar {
    background-color: #28a745;
  }
  #collapsibleNavbar ul{
    text-align: center;
    padding-right: 0;
  }
  #collapsibleNavbar li{
    border-bottom: 1px solid #4ccf70;
  }
  #nav-logo{
    padding: 0;
    margin-top: -13px;
  }
  #app-logo{
    width: 45px!important;
  }
  #dl-btn{
    width: 50vw;
    height: 12vw;
    font-size: 1.3em;
  }
  #contact-us{
    margin: 100px 0 0 0!important;
  }
  #telegram-img{
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 576px){
  #dl-btn{
    width: 200px;
    height: 60px;
    font-size: 1.5em;
  }
}
#app-logo {
  width: 60px;
}

#navigation-bar {
  color: #ffffff;
  height: 70px;
  font-family: "IRANSans";
}

#navigation-bar a {
  color: #ffffff;
}

#header-img {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 50vw;
}

#download-btn-container {
  text-align: center;
  margin: 10vh 0;
}

#dl-btn {
  font-family: "IRANSANS";
  background-color: #01ef75;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  color: #444444;
}

#about-us-title {
  text-align: center;
  margin: 50px 0;
}

#about-us {
  text-align: justify;
  font-family: "IRANSANS";
  line-height: 1.8;
  /*font-size: 1.2vw;*/
}

#contact-us {
  margin: 100px 0 50px 0;
  text-align: center;
  font-size: 1.3em;
  font-family: "IRANSans";
}

#telegram-img {
  margin-top: 50px;
  width: 50px;
  height: auto;
}
