<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>login page</title>
  <link rel="stylesheet" href= '{% static 'css/loginPage.css' %}'  type="text/css" media="screen">
</head>
<body>

<div class="container">
  <div>
    <h1 dir="rtl">
      پنل ادمین
    </h1>
    <p dir="rtl">
      لطفا برای ورود به سامانه، ابتدا نام کاربری و سپس رمز عبور خود را وارد نمائید.
    </p>
  </div>
  <div id="login-page-container">
    <div id="loginPage">
      <div>
        <img src= '{% static 'img/login-icon-png-27.png' %}'   alt="assistant" id="login-image">
      </div>
      <div id="login-buttons" dir="rtl">
        <div class="login-row">
          <div class="input-title">
            <label  for="username-field">
              نام کاربری:
            </label>
          </div>
          <div class="mymymy">
            <input class="input-field" id="username-field" >
          </div>
        </div>
        <div class="login-row">
          <div class="input-title" >
            <label for="password-field">
              رمز عبور:
            </label>
          </div>
          <div class="mymymy">
            <input class="input-field" id="password-field" >
          </div>
        </div>
      </div>
      <div>
        <button type="button" id="login-btn" class="btn">
          ورود
        </button>
      </div>
    </div>
  </div>
</div>

<script  >
function handleLoginRequest(e) {
  const usr = document.querySelector("#username-field");
  const pass = document.querySelector("#password-field");
  const myFormData = new FormData();
  myFormData.append("username", usr.value);
  myFormData.append("password", pass.value);
  const url = "http://younes313.pythonanywhere.com/adm/AdminLogin";

  xhr = new XMLHttpRequest();
  xhr.open("POST", url, true);
  xhr.setRequestHeader("Content-type", "application/json");
  xhr.onreadystatechange = function () {
    if (xhr.readyState == 4 && xhr.status == 200) {
      var json = JSON.parse(xhr.responseText);

    }
  };
  xhr.onload = function () {
  let json = JSON.parse(xhr.responseText);
  if (json["status"]==true)
  {
  var queryString = "?token=" +json["token"];
  // document.cookie = "token="+JSON.parse(xhr.responseText)["token"];
  window.location.href = '{% url 'adm:RegisterDrivers' %}' + queryString;
  }
  else
  {
    alert("نام کاربری یا رمز عبور اشتباه است")
  }
  };
  // var data = JSON.stringify(myFormData);
  var data = new Object();
  data.username = usr.value ;
  data.password = pass.value ;
  xhr.send(JSON.stringify(data));
}



const loginBtn = document.getElementById("login-btn");
loginBtn.addEventListener("click",handleLoginRequest, true )

</script>
</body>
</html>
